# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle
android/app/build
android/gradle/wrapper/gradle-wrapper.jar

# Firebase
.firebase/
*.key
*.pem

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo